<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ur5_robot" params="prefix">

  <link name="${prefix}base_link" />

  <joint name="${prefix}writs_3_joint" type="fixed">
    <parent link="${prefix}base_link" />
    <child link = "${prefix}wrist_3_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />    
  </joint>
  <link name="${prefix}wrist_3_link" />

  </xacro:macro>
</robot>
